{% extends 'courses/course_dashboard.html' %}

{% block dashboard_content %}
    {% for announcement in announcements %}
        <div class="well">
            <h2>{{ announcement.title }}</h2>
            {{ annoucemtent.content|linebreaks}}
            <p>
                <a href="#comments">
                    <i class="fa fa-comment"></i>
                    {% with announcement.comments.count as comments_count %}
                        {{ comments_count }}
                        Comentário{{ comments_count|pluralize }}
                    {% endwith %}
                </a>
            </p>
        </div>
    {% empty %}
        <div class="well">
            <h2>Nenhum anúncio criado.</h2>
        </div>
    {% endfor %}
{% endblock dashboard_content %}